parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Helper/ArrayHelper.php

		-
			message: '#^Method jeroendn\\PhpHelpers\\Helper\\ArrayHelper\:\:sortObjectsByProperties\(\) has parameter \$array with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helper/ArrayHelper.php

		-
			message: '#^Method jeroendn\\PhpHelpers\\Helper\\ArrayHelper\:\:sortObjectsByProperty\(\) has parameter \$array with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helper/ArrayHelper.php

		-
			message: '#^Method jeroendn\\PhpHelpers\\Helper\\Env\:\:getVars\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helper/Env.php

		-
			message: '#^Part \$value \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Helper/Env.php

		-
			message: '#^Parameter \#2 \$properties of static method jeroendn\\PhpHelpers\\Helper\\ArrayHelper\:\:sortObjectsByProperties\(\) expects array\<string\>, array\<int, int\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Helper/ArrayHelperTest.php

		-
			message: '#^Parameter \#2 \$properties of static method jeroendn\\PhpHelpers\\Helper\\ArrayHelper\:\:sortObjectsByProperties\(\) expects array\<string\>, array\<int, int\|string\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Helper/ArrayHelperTest.php
